.banner_content{
    padding-top: 400px;
    padding-left: 3rem;
    width: 45rem;
    background: transparent;
}
.banner_content h1{
    font-size: 3.5rem;
    color: white;
    background: transparent;
    margin-bottom: 10px;
}
.banner_content h4{
    color: white;
    background: transparent;
    padding-top: 1rem;
    font-size: 1.3rem;
}
.more{
    color: white;
}
.more:hover {
    color: black;
    background-color: white;
}